*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-family: "Poppins";
    color: white;
    size: 15em;
    display: flex;
    justify-content: left;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
    background: url(../Series1/img/Background2.png) no-repeat fixed center;
    background-size: cover;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}


header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

header .container ul {
    display: flex;
}

header .container .onglet ul a {
    font-size:  1.5em;
    font-weight: 500;
    margin: 0 30px;
    color: white
}

header .container .onglet ul a:hover{
    color: orange;
    transition: color .3s;
}

@media (max-width: 1500px) {
    header .container {
        width: 100%;
    }
}

/*--PAGE PRINCIPALE--*/

.box2 {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.box3 {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

nav {
    width: 900px;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: left;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
}
  
li a {
    text-decoration: none;
    color: white;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu1 {
    margin-top: var(--hauteur-menu);
    width: 150px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 100px;
    overflow: hidden;
}

.sous-menu2 {
    margin-top: var(--hauteur-menu);
    width: 200px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.sous-menu1 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu2 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: white;
}

.sous-menu1 > li:hover {
    background-color: orange;
    opacity: 50%;
}

.sous-menu2 > li:hover {
    background-color: orange;
    opacity: 50%;
}
   
.sous-menu1 > li:hover > a {
    color: black;
}

.sous-menu2 > li:hover > a {
    color: black;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
      border-top: 3px solid black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid black;
    }
}

.menu-deroulant:hover > .sous-menu1 {
  animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > .sous-menu2 {
    animation: apparitionSousMenu 1s forwards;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

/*--Paddlemar--*/
.box2 #image7_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image7_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image7_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image7_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image7_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image7_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image7_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}


.box2 #image7_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image7_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image7_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Paddlemar_Jade .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Paddlemar_Jade .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Paddlemar_Jade .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Paddlemar_Rosebloom .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Paddlemar_Rosebloom .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Paddlemar_Rosebloom .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Paddlemar_Tidepool .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Paddlemar_Tidepool .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Paddlemar_Tidepool .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Paddlemar_Caldera .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Paddlemar_Caldera .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Paddlemar_Caldera .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Paddlemar_Yuletide .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Paddlemar_Yuletide .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Paddlemar_Yuletide .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Paddlemar_Azure_Inktales .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Paddlemar_Azure_Inktales .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Paddlemar_Azure_Inktales .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Paddlemar_Darkspark_Inktales .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Paddlemar_Darkspark_Inktales .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Paddlemar_Darkspark_Inktales .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Paddlemar_Ember_Inktales .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Paddlemar_Ember_Inktales .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Paddlemar_Ember_Inktales .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Paddlemar_Galeborn_Inktales .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Paddlemar_Galeborn_Inktales .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Paddlemar_Galeborn_Inktales .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Paddlemar_Terra_Inktales .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Paddlemar_Terra_Inktales .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Paddlemar_Terra_Inktales .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

/*--Protector--*/
.box2 #image8_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image8_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image8_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image8_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image8_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image8_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image8_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image8_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image8_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Protector_Jeweled .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Protector_Jeweled .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Protector_Jeweled .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Protector_Reigning .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Protector_Reigning .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Protector_Reigning .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Protector_Shadowgem .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Protector_Shadowgem .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Protector_Shadowgem .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Protector_Fierce .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Protector_Fierce .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Protector_Fierce .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Protector_Skygem .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Protector_Skygem .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Protector_Skygem .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Protector_Sunborn .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Protector_Sunborn .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Protector_Sunborn .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Protector_Year_of_the_Tiger .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Protector_Year_of_the_Tiger .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Protector_Year_of_the_Tiger .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

/*--Hustail--*/
.box2 #image9_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image9_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Hushtail_Moontipped .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Hushtail_Moontipped .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Hushtail_Moontipped .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Hushtail_Fae .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Hushtail_Fae .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Hushtail_Fae .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Hushtail_Mistberry .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Hushtail_Mistberry .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Hushtail_Mistberry .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Hushtail_Monarch .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Hushtail_Monarch .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Hushtail_Monarch .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Hushtail_Untamed .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Hushtail_Untamed .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Hushtail_Untamed .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Hushtail_Eternal .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Hushtail_Eternal .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Hushtail_Eternal .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Hushtail_Spirit_Blossom_Kami .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Hushtail_Spirit_Blossom_Kami .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Hushtail_Spirit_Blossom_Kami .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Hushtail_Spirit_Blossom_Yokai .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Hushtail_Spirit_Blossom_Yokai .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Hushtail_Spirit_Blossom_Yokai .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Hushtail_KDA_ALL_OUT .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Hushtail_KDA_ALL_OUT .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Hushtail_KDA_ALL_OUT .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Hushtail_KDA_POPSTARS .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Hushtail_KDA_POPSTARS .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Hushtail_KDA_POPSTARS .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}