/*--GENERAL--*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-family: "Poppins";
    color: white;
    size: 15em;
    display: flex;
    justify-content: left;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
    background: url(../Series1/img/Background2.png) no-repeat fixed center;
    background-size: cover;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}


header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

header .container ul {
    display: flex;
}

header .container .onglet ul a {
    font-size:  1.5em;
    font-weight: 500;
    margin: 0 30px;
    color: white
}

header .container .onglet ul a:hover{
    color: orange;
    transition: color .3s;
}

@media (max-width: 1500px) {
    header .container {
        width: 100%;
    }
}

/*--PAGE PRINCIPALE--*/

.box2 {
    width: 1300px;
    height: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.box3 {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

nav {
    width: 900px;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: left;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
}
  
li a {
    text-decoration: none;
    color: white;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu1 {
    margin-top: var(--hauteur-menu);
    width: 150px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 100px;
    overflow: hidden;
}

.sous-menu2 {
    margin-top: var(--hauteur-menu);
    width: 200px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.sous-menu1 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu2 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: white;
}

.sous-menu1 > li:hover {
    background-color: orange;
    opacity: 50%;
}

.sous-menu2 > li:hover {
    background-color: orange;
    opacity: 50%;
}
   
.sous-menu1 > li:hover > a {
    color: black;
}

.sous-menu2 > li:hover > a {
    color: black;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
      border-top: 3px solid black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid black;
    }
}

.menu-deroulant:hover > .sous-menu1 {
  animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > .sous-menu2 {
    animation: apparitionSousMenu 1s forwards;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

/*--Furyhorn--*/
.box2 #image1_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}
.box2 #image1_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image1_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Furyhorn_Molten .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Furyhorn_Molten .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Furyhorn_Molten .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Furyhorn_Lionheart .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Furyhorn_Lionheart .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Furyhorn_Lionheart .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Furyhorn_Tundra .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Furyhorn_Tundra .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Furyhorn_Tundra .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Furyhorn_Void-marked .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Furyhorn_Void-marked .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Furyhorn_Void-marked .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Furyhorn_Willowbark .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Furyhorn_Willowbark .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Furyhorn_Willowbark .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Furyhorn_Sugarcone .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Furyhorn_Sugarcone .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Furyhorn_Sugarcone .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Furyhorn_KDA_ALL_OUT .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Furyhorn_KDA_ALL_OUT .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Furyhorn_KDA_ALL_OUT .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Furyhorn_KDA_POPSTARS .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Furyhorn_KDA_POPSTARS .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Furyhorn_KDA_POPSTARS .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Furyhorn_Lunar_Beast .niveaux1{
    margin-top:  844px;
    margin-left: 250px;
    position: absolute;
}

.Furyhorn_Lunar_Beast .niveaux2 {
    margin-top:  844px;
    margin-left: 321px;
    position: absolute;
}

.Furyhorn_Lunar_Beast .niveaux3 {
    margin-top:  844px;
    margin-left: 390px;
    position: absolute;
}

.Furyhorn_Lunar_Revel .niveaux1{
    margin-top:  844px;
    margin-left: 544px;
    position: absolute;
}

.Furyhorn_Lunar_Revel .niveaux2 {
    margin-top:  844px;
    margin-left: 614px;
    position: absolute;
}

.Furyhorn_Lunar_Revel .niveaux3 {
    margin-top:  844px;
    margin-left: 684px;
    position: absolute;
}

/*--Hauntling--*/
.box2 #image2_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}
.box2 #image2_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_13_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image2_14_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.Hauntling_Shadow_Isles .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Hauntling_Shadow_Isles .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Hauntling_Shadow_Isles .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Hauntling_Fireborn .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Hauntling_Fireborn .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Hauntling_Fireborn .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Hauntling_Toxic .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Hauntling_Toxic .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Hauntling_Toxic .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Hauntling_Dark_Matter .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Hauntling_Dark_Matter .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Hauntling_Dark_Matter .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Hauntling_Lunar_Claw .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Hauntling_Lunar_Claw .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Hauntling_Lunar_Claw .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Hauntling_Shadowmask .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Hauntling_Shadowmask .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Hauntling_Shadowmask .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Hauntling_Cloud .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Hauntling_Cloud .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Hauntling_Cloud .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Hauntling_Infernal .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Hauntling_Infernal .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Hauntling_Infernal .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Hauntling_Mountain .niveaux1{
    margin-top:  844px;
    margin-left: 103px;
    position: absolute;
}

.Hauntling_Mountain .niveaux2{
    margin-top:  844px;
    margin-left: 172px;
    position: absolute;
}

.Hauntling_Mountain .niveaux3{
    margin-top:  844px;
    margin-left: 243px;
    position: absolute;
}

.Hauntling_Ocean .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Hauntling_Ocean .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Hauntling_Ocean .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Hauntling_Elder .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Hauntling_Elder .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Hauntling_Elder .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

/*--Silverwing--*/
.box2 #image3_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}
.box2 #image3_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image3_13_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.Silverwing_Demacian .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Silverwing_Demacian .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Silverwing_Demacian .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Silverwing_Dawnglow .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Silverwing_Dawnglow .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Silverwing_Dawnglow .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Silverwing_Rosebloom .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Silverwing_Rosebloom .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Silverwing_Rosebloom .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Silverwing_Snow_Cherry .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Silverwing_Snow_Cherry .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Silverwing_Snow_Cherry .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Silverwing_Tropical .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Silverwing_Tropical .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Silverwing_Tropical .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Silverwing_Lost .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Silverwing_Lost .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Silverwing_Lost .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Silverwing_Star_Guardian .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Silverwing_Star_Guardian .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Silverwing_Star_Guardian .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Silverwing_Cloud .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Silverwing_Cloud .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Silverwing_Cloud .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Silverwing_Infernal .niveaux1{
    margin-top:  844px;
    margin-left: 103px;
    position: absolute;
}

.Silverwing_Infernal .niveaux2{
    margin-top:  844px;
    margin-left: 172px;
    position: absolute;
}

.Silverwing_Infernal .niveaux3{
    margin-top:  844px;
    margin-left: 243px;
    position: absolute;
}

.Silverwing_Mountain .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Silverwing_Mountain .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Silverwing_Mountain .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Silverwing_Ocean .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Silverwing_Ocean .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Silverwing_Ocean .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

.Silverwing_Ocean .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Silverwing_Ocean .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Silverwing_Ocean .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

.Silverwing_Elder .niveaux1{
    margin-top:  844px;
    margin-left: 985px;
    position: absolute;
}

.Silverwing_Elder .niveaux2{
    margin-top:  844px;
    margin-left: 1056px;
    position: absolute;
}

.Silverwing_Elder .niveaux3{
    margin-top:  844px;
    margin-left: 1125px;
    position: absolute;
}
