*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-family: "Poppins";
    color: white;
    size: 15em;
    display: flex;
    justify-content: left;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
    background: url(../Series1/img/Background2.png) no-repeat fixed center;
    background-size: cover;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}


header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

header .container ul {
    display: flex;
}

header .container .onglet ul a {
    font-size:  1.5em;
    font-weight: 500;
    margin: 0 30px;
    color: white
}

header .container .onglet ul a:hover{
    color: orange;
    transition: color .3s;
}

@media (max-width: 1500px) {
    header .container {
        width: 100%;
    }
}

/*--PAGE PRINCIPALE--*/

.box2 {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.box3 {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

nav {
    width: 900px;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: left;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
}
  
li a {
    text-decoration: none;
    color: white;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu1 {
    margin-top: var(--hauteur-menu);
    width: 150px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 100px;
    overflow: hidden;
}

.sous-menu2 {
    margin-top: var(--hauteur-menu);
    width: 200px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.sous-menu1 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu2 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: white;
}

.sous-menu1 > li:hover {
    background-color: orange;
    opacity: 50%;
}

.sous-menu2 > li:hover {
    background-color: orange;
    opacity: 50%;
}
   
.sous-menu1 > li:hover > a {
    color: black;
}

.sous-menu2 > li:hover > a {
    color: black;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
      border-top: 3px solid black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid black;
    }
}

.menu-deroulant:hover > .sous-menu1 {
  animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > .sous-menu2 {
    animation: apparitionSousMenu 1s forwards;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

/*--Dango--*/
.box2 #image10_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image10_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Dango_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Dango_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Dango_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Dango_Bubblegum .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Dango_Bubblegum .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Dango_Bubblegum .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Dango_Gingersnap .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Dango_Gingersnap .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Dango_Gingersnap .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Dango_Lemondrop .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Dango_Lemondrop .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Dango_Lemondrop .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Dango_Limeberry .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Dango_Limeberry .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Dango_Limeberry .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Dango_Sugar_Crash .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Dango_Sugar_Crash .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Dango_Sugar_Crash .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Dango_Porcelain .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Dango_Porcelain .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Dango_Porcelain .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Dango_Lucky_Lantern .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Dango_Lucky_Lantern .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Dango_Lucky_Lantern .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Dango_Firecracker .niveaux1{
    margin-top:  844px;
    margin-left: 250px;
    position: absolute;
}

.Dango_Firecracker .niveaux2{
    margin-top:  844px;
    margin-left: 321px;
    position: absolute;
}

.Dango_Firecracker .niveaux3{
    margin-top:  844px;
    margin-left: 390px;
    position: absolute;
}

.Dango_Lion_Dancer .niveaux1{
    margin-top:  844px;
    margin-left: 544px;
    position: absolute;
}

.Dango_Lion_Dancer .niveaux2{
    margin-top:  844px;
    margin-left: 614px;
    position: absolute;
}

.Dango_Lion_Dancer .niveaux3{
    margin-top:  844px;
    margin-left: 684px;
    position: absolute;
}

.Dango_Fiercest .niveaux1{
    margin-top:  844px;
    margin-left: 838px;
    position: absolute;
}

.Dango_Fiercest .niveaux2{
    margin-top:  844px;
    margin-left: 908px;
    position: absolute;
}

.Dango_Fiercest .niveaux3{
    margin-top:  844px;
    margin-left: 978px;
    position: absolute;
}

/*--Fuwa--*/
.box2 #image11_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image11_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.Fuwa_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Fuwa_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Fuwa_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Fuwa_Last_Wish .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Fuwa_Last_Wish .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Fuwa_Last_Wish .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Fuwa_Lovestruck .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Fuwa_Lovestruck .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Fuwa_Lovestruck .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Fuwa_Eclipse .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Fuwa_Eclipse .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Fuwa_Eclipse .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Fuwa_Firecracker .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Fuwa_Firecracker .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Fuwa_Firecracker .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Fuwa_Daystar .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Fuwa_Daystar .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Fuwa_Daystar .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Fuwa_Lucky .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Fuwa_Lucky .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Fuwa_Lucky .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Fuwa_Chaos .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Fuwa_Chaos .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Fuwa_Chaos .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Fuwa_Order .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Fuwa_Order .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Fuwa_Order .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Fuwa_Verdant .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Fuwa_Verdant .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Fuwa_Verdant .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

/*--Shisa--*/
.box2 #image12_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image12_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image12_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image12_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image12_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image12_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image12_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image12_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image12_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.Shisa_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Shisa_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Shisa_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Shisa_Heroic .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Shisa_Heroic .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Shisa_Heroic .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Shisa_Littlest .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Shisa_Littlest .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Shisa_Littlest .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Shisa_Firecracker .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Shisa_Firecracker .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Shisa_Firecracker .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Shisa_Sundrop .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Shisa_Sundrop .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Shisa_Sundrop .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Shisa_Corrupted .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Shisa_Corrupted .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Shisa_Corrupted .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Shisa_Lunar_Beast .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Shisa_Lunar_Beast .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Shisa_Lunar_Beast .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Shisa_Lunar_Revel .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Shisa_Lunar_Revel .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Shisa_Lunar_Revel .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Shisa_Dr .niveaux1{
    margin-top:  844px;
    margin-left: 544px;
    position: absolute;
}

.Shisa_Dr .niveaux2{
    margin-top:  844px;
    margin-left: 615px;
    position: absolute;
}

.Shisa_Dr .niveaux3{
    margin-top:  844px;
    margin-left: 684px;
    position: absolute;
}
