*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-family: "Poppins";
    color: white;
    size: 15em;
    display: flex;
    justify-content: left;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
    background: url(../Series1/img/Background2.png) no-repeat fixed center;
    background-size: cover;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}


header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

header .container ul {
    display: flex;
}

header .container .onglet ul a {
    font-size:  1.5em;
    font-weight: 500;
    margin: 0 30px;
    color: white
}

header .container .onglet ul a:hover{
    color: orange;
    transition: color .3s;
}

@media (max-width: 1500px) {
    header .container {
        width: 100%;
    }
}

/*--PAGE PRINCIPALE--*/

.box2 {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.box3 {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

nav {
    width: 900px;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: left;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
}
  
li a {
    text-decoration: none;
    color: white;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu1 {
    margin-top: var(--hauteur-menu);
    width: 150px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 100px;
    overflow: hidden;
}

.sous-menu2 {
    margin-top: var(--hauteur-menu);
    width: 200px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.sous-menu1 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu2 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: white;
}

.sous-menu1 > li:hover {
    background-color: orange;
    opacity: 50%;
}

.sous-menu2 > li:hover {
    background-color: orange;
    opacity: 50%;
}
   
.sous-menu1 > li:hover > a {
    color: black;
}

.sous-menu2 > li:hover > a {
    color: black;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
      border-top: 3px solid black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid black;
    }
}

.menu-deroulant:hover > .sous-menu1 {
  animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > .sous-menu2 {
    animation: apparitionSousMenu 1s forwards;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

/*--Abyssia--*/
.box2 #image19_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image19_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image19_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image19_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image19_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image19_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image19_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Abyssia_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Abyssia_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Abyssia_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Abyssia_Darkin .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Abyssia_Darkin .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Abyssia_Darkin .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Abyssia_Galaxy_Slayer .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Abyssia_Galaxy_Slayer .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Abyssia_Galaxy_Slayer .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Abyssia_Calcite .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Abyssia_Calcite .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Abyssia_Calcite .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Abyssia_Willowbark .niveaux1 {
    margin-top:  545px;
    margin-left: 250px;
    position: absolute;
}

.Abyssia_Willowbark .niveaux2 {
    margin-top:  545px;
    margin-left: 321px;
    position: absolute;
}

.Abyssia_Willowbark .niveaux3 {
    margin-top:  545px;
    margin-left: 390px;
    position: absolute;
}

.Abyssia_Cosmic .niveaux1 {
    margin-top:  545px;
    margin-left: 544px;
    position: absolute;
}

.Abyssia_Cosmic .niveaux2 {
    margin-top:  545px;
    margin-left: 614px;
    position: absolute;
}

.Abyssia_Cosmic .niveaux3 {
    margin-top:  545px;
    margin-left: 684px;
    position: absolute;
}

.Abyssia_PROJECT .niveaux1 {
    margin-top:  545px;
    margin-left: 838px;
    position: absolute;
}

.Abyssia_PROJECT .niveaux2 {
    margin-top:  545px;
    margin-left: 908px;
    position: absolute;
}

.Abyssia_PROJECT .niveaux3 {
    margin-top:  545px;
    margin-left: 978px;
    position: absolute;
}

/*--Squik--*/
.box2 #image20_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image20_13_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Squink_Bases .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Squink_Bases .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Squink_Bases .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Squink_Dreadnova .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Squink_Dreadnova .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Squink_Dreadnova .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Squink_Odyssey .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Squink_Odyssey .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Squink_Odyssey .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Squink_Fruity-tooty .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Squink_Fruity-tooty .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Squink_Fruity-tooty .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Squink_Sugarcone .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Squink_Sugarcone .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Squink_Sugarcone .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Squink_Cosmic .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Squink_Cosmic .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Squink_Cosmic .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Squink_KDA_ALL_OUT .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Squink_KDA_ALL_OUT .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Squink_KDA_ALL_OUT .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Squink_KDA_POPSTARS .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Squink_KDA_POPSTARS .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Squink_KDA_POPSTARS .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Squink_Cactus .niveaux1{
    margin-top:  844px;
    margin-left: 103px;
    position: absolute;
}

.Squink_Cactus .niveaux2{
    margin-top:  844px;
    margin-left: 172px;
    position: absolute;
}

.Squink_Cactus .niveaux3{
    margin-top:  844px;
    margin-left: 243px;
    position: absolute;
}

.Squink_High_Noon .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Squink_High_Noon .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Squink_High_Noon .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Squink_Kernel .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Squink_Kernel .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Squink_Kernel .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

.Squink_Order .niveaux1{
    margin-top:  844px;
    margin-left: 985px;
    position: absolute;
}

.Squink_Order .niveaux2{
    margin-top:  844px;
    margin-left: 1056px;
    position: absolute;
}

.Squink_Order .niveaux3{
    margin-top:  844px;
    margin-left: 1125px;
    position: absolute;
}

.Squink_Outlaw .niveaux1{
    margin-top:  1141px;
    margin-left: 544px;
    position: absolute;
}

.Squink_Outlaw .niveaux2{
    margin-top:  1141px;
    margin-left: 615px;
    position: absolute;
}

.Squink_Outlaw .niveaux3{
    margin-top:  1141px;
    margin-left: 685px;
    position: absolute;
}

/*--Starmaw--*/
.box2 #image21_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image21_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image21_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image21_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image21_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image21_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image21_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Starmaw_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Starmaw_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Starmaw_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Starmaw_Dreadnova .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Starmaw_Dreadnova .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Starmaw_Dreadnova .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Starmaw_Galaxy_Slayer .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Starmaw_Galaxy_Slayer .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Starmaw_Galaxy_Slayer .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Starmaw_Goo .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Starmaw_Goo .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Starmaw_Goo .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Starmaw_Orcus .niveaux1 {
    margin-top:  545px;
    margin-left: 250px;
    position: absolute;
}

.Starmaw_Orcus .niveaux2 {
    margin-top:  545px;
    margin-left: 321px;
    position: absolute;
}

.Starmaw_Orcus .niveaux3 {
    margin-top:  545px;
    margin-left: 390px;
    position: absolute;
}

.Starmaw_Cosmic .niveaux1 {
    margin-top:  545px;
    margin-left: 544px;
    position: absolute;
}

.Starmaw_Cosmic .niveaux2 {
    margin-top:  545px;
    margin-left: 614px;
    position: absolute;
}

.Starmaw_Cosmic .niveaux3 {
    margin-top:  545px;
    margin-left: 684px;
    position: absolute;
}

.Starmaw_Regal_Koi .niveaux1 {
    margin-top:  545px;
    margin-left: 838px;
    position: absolute;
}

.Starmaw_Regal_Koi .niveaux2 {
    margin-top:  545px;
    margin-left: 908px;
    position: absolute;
}

.Starmaw_Regal_Koi .niveaux3 {
    margin-top:  545px;
    margin-left: 978px;
    position: absolute;
}
