/*--GENERAL--*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-family: "Poppins";
    color: white;
    size: 15em;
    display: flex;
    justify-content: left;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
    background: url(../Series1/img/Background2.png) no-repeat fixed center;
    background-size: cover;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}


header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

header .container ul {
    display: flex;
}

header .container .onglet ul a {
    font-size:  1.5em;
    font-weight: 500;
    margin: 0 30px;
    color: white
}

header .container .onglet ul a:hover{
    color: orange;
    transition: color .3s;
}

@media (max-width: 1500px) {
    header .container {
        width: 100%;
    }
}

/*--PAGE PRINCIPALE--*/

.box2 {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.box3 {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

nav {
    width: 900px;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: left;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
}
  
li a {
    text-decoration: none;
    color: white;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu1 {
    margin-top: var(--hauteur-menu);
    width: 150px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 50px;
    overflow: hidden;
}

.sous-menu2 {
    margin-top: var(--hauteur-menu);
    width: 200px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.sous-menu1 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu2 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: white;
}

.sous-menu1 > li:hover {
    background-color: orange;
    opacity: 50%;
}

.sous-menu2 > li:hover {
    background-color: orange;
    opacity: 50%;
}
   
.sous-menu1 > li:hover > a {
    color: black;
}

.sous-menu2 > li:hover > a {
    color: black;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
      border-top: 3px solid black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid black;
    }
}

.menu-deroulant:hover > .sous-menu1 {
  animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > .sous-menu2 {
    animation: apparitionSousMenu 1s forwards;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

/*--Bungo--*/
.box2 #image38_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image38_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}
