/*--GENERAL--*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-family: "Poppins";
    color: white;
    size: 15em;
    display: flex;
    justify-content: left;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
    background: url(../Series1/img/Background2.png) no-repeat fixed center;
    background-size: cover;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}


header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

header .container ul {
    display: flex;
}

header .container .onglet ul a {
    font-size:  1.5em;
    font-weight: 500;
    margin: 0 30px;
    color: white
}

header .container .onglet ul a:hover{
    color: orange;
    transition: color .3s;
}

@media (max-width: 1500px) {
    header .container {
        width: 100%;
    }
}

/*--PAGE PRINCIPALE--*/

.box2 {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.box3 {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

nav {
    width: 900px;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: left;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
}
  
li a {
    text-decoration: none;
    color: white;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu1 {
    margin-top: var(--hauteur-menu);
    width: 150px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 100px;
    overflow: hidden;
}

.sous-menu2 {
    margin-top: var(--hauteur-menu);
    width: 200px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.sous-menu1 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu2 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: white;
}

.sous-menu1 > li:hover {
    background-color: orange;
    opacity: 50%;
}

.sous-menu2 > li:hover {
    background-color: orange;
    opacity: 50%;
}
   
.sous-menu1 > li:hover > a {
    color: black;
}

.sous-menu2 > li:hover > a {
    color: black;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
      border-top: 3px solid black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid black;
    }
}

.menu-deroulant:hover > .sous-menu1 {
  animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > .sous-menu2 {
    animation: apparitionSousMenu 1s forwards;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

/*--Duckbill--*/
.box2 #image31_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image31_13_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Duckbill_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Duckbill_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Duckbill_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Duckbill_Delivery_Rush .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Duckbill_Delivery_Rush .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Duckbill_Delivery_Rush .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Duckbill_Goodest .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Duckbill_Goodest .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Duckbill_Goodest .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Duckbill_Honeybuzz .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Duckbill_Honeybuzz .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Duckbill_Honeybuzz .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Duckbill_Pajama_Party .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Duckbill_Pajama_Party .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Duckbill_Pajama_Party .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Duckbill_Piltover .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Duckbill_Piltover .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Duckbill_Piltover .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Duckbill_Sugarcone .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Duckbill_Sugarcone .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Duckbill_Sugarcone .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Duckbill_Zaunite .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Duckbill_Zaunite .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Duckbill_Zaunite .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Duckbill_Firecracker .niveaux1{
    margin-top:  844px;
    margin-left: 103px;
    position: absolute;
}

.Duckbill_Firecracker .niveaux2{
    margin-top:  844px;
    margin-left: 172px;
    position: absolute;
}

.Duckbill_Firecracker .niveaux3{
    margin-top:  844px;
    margin-left: 243px;
    position: absolute;
}

.Duckbill_Jade_Dragon .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Duckbill_Jade_Dragon .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Duckbill_Jade_Dragon .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Duckbill_Lunar_Scholar .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Duckbill_Lunar_Scholar .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Duckbill_Lunar_Scholar .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

.Duckbill_Mischief_Maker .niveaux1{
    margin-top:  844px;
    margin-left: 985px;
    position: absolute;
}

.Duckbill_Mischief_Maker .niveaux2{
    margin-top:  844px;
    margin-left: 1056px;
    position: absolute;
}

.Duckbill_Mischief_Maker .niveaux3{
    margin-top:  844px;
    margin-left: 1125px;
    position: absolute;
}

.Duckbill_Most_Festive .niveaux1{
    margin-top:  1141px;
    margin-left: 544px;
    position: absolute;
}

.Duckbill_Most_Festive .niveaux2{
    margin-top:  1141px;
    margin-left: 614px;
    position: absolute;
}

.Duckbill_Most_Festive .niveaux3{
    margin-top:  1141px;
    margin-left: 684px;
    position: absolute;
}

/*--Gloop--*/
.box2 #image32_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image32_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image32_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image32_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image32_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image32_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image32_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image32_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Gloop_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Gloop_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Gloop_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Gloop_Arcade .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Gloop_Arcade .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Gloop_Arcade .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Gloop_Fireborn .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Gloop_Fireborn .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Gloop_Fireborn .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Gloop_Hextech .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Gloop_Hextech .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Gloop_Hextech .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Gloop_Honeybuzz .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Gloop_Honeybuzz .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Gloop_Honeybuzz .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Gloop_Pizza_Time .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Gloop_Pizza_Time .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Gloop_Pizza_Time .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Gloop_Pop_Groove .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Gloop_Pop_Groove .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Gloop_Pop_Groove .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Gloop_Sugarcone .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Gloop_Sugarcone .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Gloop_Sugarcone .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

/*--Piximander--*/
.box2 #image33_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image33_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image33_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image33_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image33_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image33_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image33_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image33_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Piximander_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Piximander_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Piximander_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Piximander_Chemtech .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Piximander_Chemtech .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Piximander_Chemtech .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Piximander_Fruity_Tooty .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Piximander_Fruity_Tooty .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Piximander_Fruity_Tooty .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Piximander_Hextech .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Piximander_Hextech .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Piximander_Hextech .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Piximander_Honeybuzz .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Piximander_Honeybuzz .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Piximander_Honeybuzz .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Piximander_Rio .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Piximander_Rio .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Piximander_Rio .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Piximander_Shimmering .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Piximander_Shimmering .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Piximander_Shimmering .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Piximander_Spotted .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Piximander_Spotted .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Piximander_Spotted .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}