*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-family: "Poppins";
    color: white;
    size: 15em;
    display: flex;
    justify-content: left;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
    background: url(../Series1/img/Background2.png) no-repeat fixed center;
    background-size: cover;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}


header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

header .container ul {
    display: flex;
}

header .container .onglet ul a {
    font-size:  1.5em;
    font-weight: 500;
    margin: 0 30px;
    color: white
}

header .container .onglet ul a:hover{
    color: orange;
    transition: color .3s;
}

@media (max-width: 1500px) {
    header .container {
        width: 100%;
    }
}

/*--PAGE PRINCIPALE--*/

.box2 {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.box3 {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

nav {
    width: 900px;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: left;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
}
  
li a {
    text-decoration: none;
    color: white;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu1 {
    margin-top: var(--hauteur-menu);
    width: 150px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 100px;
    overflow: hidden;
}

.sous-menu2 {
    margin-top: var(--hauteur-menu);
    width: 200px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.sous-menu1 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu2 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: white;
}

.sous-menu1 > li:hover {
    background-color: orange;
    opacity: 50%;
}

.sous-menu2 > li:hover {
    background-color: orange;
    opacity: 50%;
}
   
.sous-menu1 > li:hover > a {
    color: black;
}

.sous-menu2 > li:hover > a {
    color: black;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
      border-top: 3px solid black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid black;
    }
}

.menu-deroulant:hover > .sous-menu1 {
  animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > .sous-menu2 {
    animation: apparitionSousMenu 1s forwards;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

/*--Fatherknight--*/
.box2 #image4_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}
.box2 #image4_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_13_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_14_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_15_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_16_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_17_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_18_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image4_19_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Featherknight_Pengu .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Featherknight_Pengu .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Featherknight_Pengu .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Featherknight_Cheeper .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Featherknight_Cheeper .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Featherknight_Cheeper .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Featherknight_Sakura .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Featherknight_Sakura .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Featherknight_Sakura .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Featherknight_Extra_Spicy .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Featherknight_Extra_Spicy .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Featherknight_Extra_Spicy .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Featherknight_True_Ice .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Featherknight_True_Ice .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Featherknight_True_Ice .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Featherknight_Ravenlord .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Featherknight_Ravenlord .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Featherknight_Ravenlord .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Featherknight_Spirit_Blossom_Kami .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Featherknight_Spirit_Blossom_Kami .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Featherknight_Spirit_Blossom_Kami .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Featherknight_Spirit_Blossom_Yokai .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Featherknight_Spirit_Blossom_Yokai .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Featherknight_Spirit_Blossom_Yokai .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Featherknight_KDA_ALL_OUT .niveaux1{
    margin-top:  844px;
    margin-left: 103px;
    position: absolute;
}

.Featherknight_KDA_ALL_OUT .niveaux2{
    margin-top:  844px;
    margin-left: 172px;
    position: absolute;
}

.Featherknight_KDA_ALL_OUT .niveaux3{
    margin-top:  844px;
    margin-left: 243px;
    position: absolute;
}

.Featherknight_KDA_POPSTARS .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Featherknight_KDA_POPSTARS .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Featherknight_KDA_POPSTARS .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Featherknight_Chaos .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Featherknight_Chaos .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Featherknight_Chaos .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

.Featherknight_Order .niveaux1{
    margin-top:  844px;
    margin-left: 985px;
    position: absolute;
}

.Featherknight_Order .niveaux2{
    margin-top:  844px;
    margin-left: 1056px;
    position: absolute;
}

.Featherknight_Order .niveaux3{
    margin-top:  844px;
    margin-left: 1125px;
    position: absolute;
}

.Featherknight_Azure_Inktales .niveaux1{
    margin-top:  1141px;
    margin-left: 103px;
    position: absolute;
}

.Featherknight_Azure_Inktales .niveaux2{
    margin-top:  1141px;
    margin-left: 172px;
    position: absolute;
}

.Featherknight_Azure_Inktales .niveaux3{
    margin-top:  1141px;
    margin-left: 243px;
    position: absolute;
}

.Featherknight_Darkspark_Inktales .niveaux1{
    margin-top:  1141px;
    margin-left: 397px;
    position: absolute;
}

.Featherknight_Darkspark_Inktales .niveaux2{
    margin-top:  1141px;
    margin-left: 468px;
    position: absolute;
}

.Featherknight_Darkspark_Inktales .niveaux3{
    margin-top:  1141px;
    margin-left: 537px;
    position: absolute;
}

.Featherknight_Ember_Inktales .niveaux1{
    margin-top:  1141px;
    margin-left: 691px;
    position: absolute;
}

.Featherknight_Ember_Inktales .niveaux2{
    margin-top:  1141px;
    margin-left: 762px;
    position: absolute;
}

.Featherknight_Ember_Inktales .niveaux3{
    margin-top:  1141px;
    margin-left: 831px;
    position: absolute;
}

.Featherknight_Galeborn_Inktales .niveaux1{
    margin-top:  1141px;
    margin-left: 985px;
    position: absolute;
}

.Featherknight_Galeborn_Inktales .niveaux2{
    margin-top:  1141px;
    margin-left: 1056px;
    position: absolute;
}

.Featherknight_Galeborn_Inktales .niveaux3{
    margin-top:  1141px;
    margin-left: 1125px;
    position: absolute;
}

.Featherknight_Terra_Inktales .niveaux1{
    margin-top:  1438px;
    margin-left: 250px;
    position: absolute;
}

.Featherknight_Terra_Inktales .niveaux2{
    margin-top:  1438px;
    margin-left: 321px;
    position: absolute;
}

.Featherknight_Terra_Inktales .niveaux3{
    margin-top:  1438px;
    margin-left: 390px;
    position: absolute;
}

.Featherknight_Dragon_Trainer .niveaux1{
    margin-top:  1438px;
    margin-left: 544px;
    position: absolute;
}

.Featherknight_Dragon_Trainer .niveaux2{
    margin-top:  1438px;
    margin-left: 614px;
    position: absolute;
}

.Featherknight_Dragon_Trainer .niveaux3{
    margin-top:  1438px;
    margin-left: 684px;
    position: absolute;
}

/*--Molediver--*/
.box2 #image5_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image5_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image5_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image5_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image5_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image5_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image5_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image5_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}
.box2 #image5_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image5_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Molediver_Soft-nosed .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Molediver_Soft-nosed .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Molediver_Soft-nosed .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Molediver_Blazebattle .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Molediver_Blazebattle .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Molediver_Blazebattle .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Molediver_Fresh-water .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Molediver_Fresh-water .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Molediver_Fresh-water .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Molediver_Clumsy .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Molediver_Clumsy .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Molediver_Clumsy .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Molediver_Toxic .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Molediver_Toxic .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Molediver_Toxic .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Molediver_Skydance .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Molediver_Skydance .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Molediver_Skydance .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Molediver_Astronaut .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Molediver_Astronaut .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Molediver_Astronaut .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Molediver_Chaos .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Molediver_Chaos .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Molediver_Chaos .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Molediver_Ironclad .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Molediver_Ironclad .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Molediver_Ironclad .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Molediver_Order .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Molediver_Order .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Molediver_Order .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

/*--Runespirit--*/
.box2 #image6_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image6_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image6_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image6_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image6_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image6_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image6_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Runespirit_Sentinel .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Runespirit_Sentinel .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Runespirit_Sentinel .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Runespirit_Glacial .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Runespirit_Glacial .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Runespirit_Glacial .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Runespirit_Seedling .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Runespirit_Seedling .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Runespirit_Seedling .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Runespirit_Black_Mist .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Runespirit_Black_Mist .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Runespirit_Black_Mist .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Runespirit_Sakura .niveaux1{
    margin-top:  545px;
    margin-left: 250px;
    position: absolute;
}

.Runespirit_Sakura .niveaux2 {
    margin-top:  545px;
    margin-left: 321px;
    position: absolute;
}

.Runespirit_Sakura .niveaux3 {
    margin-top:  545px;
    margin-left: 390px;
    position: absolute;
}

.Runespirit_Brambleback .niveaux1{
    margin-top:  545px;
    margin-left: 544px;
    position: absolute;
}

.Runespirit_Brambleback .niveaux2 {
    margin-top:  545px;
    margin-left: 614px;
    position: absolute;
}

.Runespirit_Brambleback .niveaux3 {
    margin-top:  545px;
    margin-left: 684px;
    position: absolute;
}
