/*--GENERAL--*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1{
    font-family: "Poppins";
    color: white;
    size: 15em;
    display: flex;
    justify-content: left;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
    background: url(../Series1/img/Background2.png) no-repeat fixed center;
    background-size: cover;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}


header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

header .container ul {
    display: flex;
}

header .container .onglet ul a {
    font-size:  1.5em;
    font-weight: 500;
    margin: 0 30px;
    color: white
}

header .container .onglet ul a:hover{
    color: orange;
    transition: color .3s;
}

@media (max-width: 1500px) {
    header .container {
        width: 100%;
    }
}

/*--PAGE PRINCIPALE--*/

.box2 {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.box3 {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

:root{
    --hauteur-menu: 60px;
}
* {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

nav {
    width: 900px;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: left;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
}
  
li a {
    text-decoration: none;
    color: white;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu1 {
    margin-top: var(--hauteur-menu);
    width: 150px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 100px;
    overflow: hidden;
}

.sous-menu2 {
    margin-top: var(--hauteur-menu);
    width: 200px;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border-radius: px;
    max-height: 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.sous-menu1 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu2 > li > a {
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: white;
}

.sous-menu1 > li:hover {
    background-color: orange;
    opacity: 50%;
}

.sous-menu2 > li:hover {
    background-color: orange;
    opacity: 50%;
}
   
.sous-menu1 > li:hover > a {
    color: black;
}

.sous-menu2 > li:hover > a {
    color: black;
}

@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
      border-top: 3px solid black;
    }
    100% {
      max-height: 50em;
      border-top: 3px solid black;
    }
}

.menu-deroulant:hover > .sous-menu1 {
  animation: apparitionSousMenu 1s forwards;
}

.menu-deroulant:hover > .sous-menu2 {
    animation: apparitionSousMenu 1s forwards;
}

/*--Boutton--*/
button {
    width: 71.6px;
    height: 71.6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

/*--Ao_Shin--*/
.box2 #image25_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image25_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Ao_Shin_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Ao_Shin_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Ao_Shin_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Ao_Shin_Dark_Star .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Ao_Shin_Dark_Star .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Ao_Shin_Dark_Star .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Ao_Shin_Elder .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Ao_Shin_Elder .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Ao_Shin_Elder .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Ao_Shin_Divine .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Ao_Shin_Divine .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Ao_Shin_Divine .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Ao_Shin_Firecracker .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Ao_Shin_Firecracker .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Ao_Shin_Firecracker .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Ao_Shin_Star_Forger .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Ao_Shin_Star_Forger .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Ao_Shin_Star_Forger .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Ao_Shin_Azure_Inktales .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Ao_Shin_Azure_Inktales .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Ao_Shin_Azure_Inktales .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Ao_Shin_Darkspark_Inktales .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Ao_Shin_Darkspark_Inktales .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Ao_Shin_Darkspark_Inktales .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Ao_Shin_Ember_Inktales .niveaux1{
    margin-top:  844px;
    margin-left: 103px;
    position: absolute;
}

.Ao_Shin_Ember_Inktales .niveaux2{
    margin-top:  844px;
    margin-left: 172px;
    position: absolute;
}

.Ao_Shin_Ember_Inktales .niveaux3{
    margin-top:  844px;
    margin-left: 243px;
    position: absolute;
}

.Ao_Shin_Galeborn_Inktales .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Ao_Shin_Galeborn_Inktales .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Ao_Shin_Galeborn_Inktales .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Ao_Shin_Terra_Inktales .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Ao_Shin_Terra_Inktales .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Ao_Shin_Terra_Inktales .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

.Ao_Shin_Summer_Splash .niveaux1{
    margin-top:  844px;
    margin-left: 985px;
    position: absolute;
}

.Ao_Shin_Summer_Splash .niveaux2{
    margin-top:  844px;
    margin-left: 1056px;
    position: absolute;
}

.Ao_Shin_Summer_Splash .niveaux3{
    margin-top:  844px;
    margin-left: 1125px;
    position: absolute;
}
/*--Choncc--*/
.box2 #image26_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image26_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Choncc_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Choncc_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Choncc_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Choncc_Atlantean .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Choncc_Atlantean .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Choncc_Atlantean .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Choncc_Earth .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Choncc_Earth .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Choncc_Earth .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Choncc_Fireborn .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Choncc_Fireborn .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Choncc_Fireborn .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Choncc_Precious_Panda .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Choncc_Precious_Panda .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Choncc_Precious_Panda .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Choncc_Honeybuzz .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Choncc_Honeybuzz .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Choncc_Honeybuzz .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Choncc_Lunar_Beast .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Choncc_Lunar_Beast .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Choncc_Lunar_Beast .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Choncc_Lunar_Revel .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Choncc_Lunar_Revel .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Choncc_Lunar_Revel .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Choncc_Splash_Town .niveaux1{
    margin-top:  844px;
    margin-left: 103px;
    position: absolute;
}

.Choncc_Splash_Town .niveaux2{
    margin-top:  844px;
    margin-left: 172px;
    position: absolute;
}

.Choncc_Splash_Town .niveaux3{
    margin-top:  844px;
    margin-left: 243px;
    position: absolute;
}

.Choncc_Lifeguard .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Choncc_Lifeguard .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Choncc_Lifeguard .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Choncc_Sun_Kissed .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Choncc_Sun_Kissed .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Choncc_Sun_Kissed .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

.Choncc_Wise .niveaux1{
    margin-top:  844px;
    margin-left: 985px;
    position: absolute;
}

.Choncc_Wise .niveaux2{
    margin-top:  844px;
    margin-left: 1056px;
    position: absolute;
}

.Choncc_Wise .niveaux3{
    margin-top:  844px;
    margin-left: 1125px;
    position: absolute;
}

/*--Umbra--*/
.box2 #image27_1_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_2_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_3_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_4_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_5_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_6_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_7_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_8_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_9_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_10_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_11_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_12_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_13_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.box2 #image27_14_1 {
    margin: 40px;
    width: 200px;
    border: 5px white solid;
}

.Umbra_Base .niveaux1 {
    margin-top:  250px;
    margin-left: 103px;
    position: absolute;
}

.Umbra_Base .niveaux2 {
    margin-top:  250px;
    margin-left: 172px;
    position: absolute;
}

.Umbra_Base .niveaux3 {
    margin-top:  250px;
    margin-left: 243px;
    position: absolute;
}

.Umbra_Black_Mist .niveaux1 {
    margin-top:  250px;
    margin-left: 397px;
    position: absolute;
}

.Umbra_Black_Mist .niveaux2 {
    margin-top:  250px;
    margin-left: 468px;
    position: absolute;
}

.Umbra_Black_Mist .niveaux3 {
    margin-top:  250px;
    margin-left: 537px;
    position: absolute;
}

.Umbra_Fruity .niveaux1 {
    margin-top:  250px;
    margin-left: 691px;
    position: absolute;
}

.Umbra_Fruity .niveaux2 {
    margin-top:  250px;
    margin-left: 762px;
    position: absolute;
}

.Umbra_Fruity .niveaux3 {
    margin-top:  250px;
    margin-left: 831px;
    position: absolute;
}

.Umbra_Blood_Moon .niveaux1 {
    margin-top:  250px;
    margin-left: 985px;
    position: absolute;
}

.Umbra_Blood_Moon .niveaux2 {
    margin-top:  250px;
    margin-left: 1056px;
    position: absolute;
}

.Umbra_Blood_Moon .niveaux3 {
    margin-top:  250px;
    margin-left: 1125px;
    position: absolute;
}

.Umbra_Thunderbeast .niveaux1 {
    margin-top:  545px;
    margin-left: 103px;
    position: absolute;
}

.Umbra_Thunderbeast .niveaux2 {
    margin-top:  545px;
    margin-left: 172px;
    position: absolute;
}

.Umbra_Thunderbeast .niveaux3 {
    margin-top:  545px;
    margin-left: 243px;
    position: absolute;
}

.Umbra_Hexgold .niveaux1 {
    margin-top:  545px;
    margin-left: 397px;
    position: absolute;
}

.Umbra_Hexgold .niveaux2 {
    margin-top:  545px;
    margin-left: 468px;
    position: absolute;
}

.Umbra_Hexgold .niveaux3 {
    margin-top:  545px;
    margin-left: 537px;
    position: absolute;
}

.Umbra_Chaos .niveaux1 {
    margin-top:  545px;
    margin-left: 691px;
    position: absolute;
}

.Umbra_Chaos .niveaux2 {
    margin-top:  545px;
    margin-left: 762px;
    position: absolute;
}

.Umbra_Chaos .niveaux3 {
    margin-top:  545px;
    margin-left: 831px;
    position: absolute;
}

.Umbra_Draconic .niveaux1 {
    margin-top:  545px;
    margin-left: 985px;
    position: absolute;
}

.Umbra_Draconic .niveaux2 {
    margin-top:  545px;
    margin-left: 1056px;
    position: absolute;
}

.Umbra_Draconic .niveaux3 {
    margin-top:  545px;
    margin-left: 1125px;
    position: absolute;
}

.Umbra_Order .niveaux1{
    margin-top:  844px;
    margin-left: 103px;
    position: absolute;
}

.Umbra_Order .niveaux2{
    margin-top:  844px;
    margin-left: 172px;
    position: absolute;
}

.Umbra_Order .niveaux3{
    margin-top:  844px;
    margin-left: 243px;
    position: absolute;
}

.Umbra_Little_Shark .niveaux1{
    margin-top:  844px;
    margin-left: 397px;
    position: absolute;
}

.Umbra_Little_Shark .niveaux2{
    margin-top:  844px;
    margin-left: 468px;
    position: absolute;
}

.Umbra_Little_Shark .niveaux3{
    margin-top:  844px;
    margin-left: 537px;
    position: absolute;
}

.Umbra_Lifeguard .niveaux1{
    margin-top:  844px;
    margin-left: 691px;
    position: absolute;
}

.Umbra_Lifeguard .niveaux2{
    margin-top:  844px;
    margin-left: 762px;
    position: absolute;
}

.Umbra_Lifeguard .niveaux3{
    margin-top:  844px;
    margin-left: 831px;
    position: absolute;
}

.Umbra_Fruity_Smoothie .niveaux1{
    margin-top:  844px;
    margin-left: 985px;
    position: absolute;
}

.Umbra_Fruity_Smoothie .niveaux2{
    margin-top:  844px;
    margin-left: 1056px;
    position: absolute;
}

.Umbra_Fruity_Smoothie .niveaux3{
    margin-top:  844px;
    margin-left: 1125px;
    position: absolute;
}

.Umbra_Sunkissed .niveaux1{
    margin-top:  1141px;
    margin-left: 397px;
    position: absolute;
}

.Umbra_Sunkissed .niveaux2{
    margin-top:  1141px;
    margin-left: 468px;
    position: absolute;
}

.Umbra_Sunkissed .niveaux3{
    margin-top:  1141px;
    margin-left: 537px;
    position: absolute;
}

.Umbra_Scuba_Shark .niveaux1{
    margin-top:  1141px;
    margin-left: 691px;
    position: absolute;
}

.Umbra_Scuba_Shark .niveaux2{
    margin-top:  1141px;
    margin-left: 762px;
    position: absolute;
}

.Umbra_Scuba_Shark .niveaux3{
    margin-top:  1141px;
    margin-left: 831px;
    position: absolute;
}